{% extends "base.html" %}

{% block head %}
{{ super() }}

<link rel="stylesheet" href="./output.css">

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}


{% block body %}
<body class="m-0 mx-auto animate-unblur">
    <script src="./scripts/home.js"></script>


    <div class="absolute mr-1 mt-3 right-0 top-0 text-center">
        <select class="py-3 px-4 pe-2 block w-full rounded-lg text-sm focus:border-blue-500 
        focus:ring-blue-500 bg-aGrey-800 border-aGrey-500 border-2" onchange="SelectionChange(value);">
            {% for lang in languages %}
                {% if lang.selected == true %}
                    <option value="{{ lang.language }}" selected>
                        {{ lang.label }}
                    </option>

                {% else %}
                    <option value="{{ lang.language }}">
                        {{ lang.label }}
                    </option>

                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="hidden mobile:block select-none mt-10">
        <img src="https://avatars.githubusercontent.com/u/132799819" class="rounded-full w-1/6 mx-auto">
    </div>

    <div class="grid grid-cols-3 gap-4 w-2/4 mobile:w-full mobile:grid-cols-1 mt-5 select-none mx-auto">
        <div class="col-start-1 col-end-3">
            <div class="relative top-1/2 -translate-y-1/2 text-center">
                <h1 class="text-6xl tablet:text-3xl text-nowrap">{{ lang.am }}</h1>
            
                <h2 class="text-lg mobile:text-base mt-4">{{ lang.ido }}<a href="./github"> 
                    {{ lang.oss }}
                    </a>
                </h2>
            </div>
        </div>

        <div class="mobile:hidden select-none">
            <figure>
                <img class="rounded-full w-4/5 mx-auto" 
                src="https://avatars.githubusercontent.com/u/132799819">
            </figure>
        </div>
    </div>

    <div class="flex flex-row justify-center items-center mt-5 gap-5">
        <a href="./github">
            <i class='bx bxl-github bx-md'></i>
        </a>

        <div class="h-4 w-px bg-slate-500/20"></div>

        <a href="https://discord.com/users/695116877042679942">
            <i class='bx bxl-discord-alt bx-md'></i>
        </a>

        <div class="h-4 w-px bg-slate-500/20"></div>

        <a href="https://steamcommunity.com/id/R3TR0Ananas">
            <i class='bx bxl-steam bx-md'></i>
        </a>
    </div>

    
    <div class="mt-5 bg-aDark-500 p-5 rounded-full mx-[20%] mobile:mx-auto">

        <div class="grid grid-cols-1">
            <div class="text-center">
                <p>Coming Soon ™</p>
            </div>
        </div>
    </div>

</body>
{% endblock %}