@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-aGrey-900 font-playpen tracking-wide text-white;
    }

    a {
        @apply text-ananas-100 transition duration-700 hover:text-ananas-800
    }

    footer {
        @apply text-sm;
    }
}

@layer components {
    #post-content {
        @apply prose prose-headings:text-amber-400 
        prose-a:text-ananas-100 transition
        hover:prose-a:text-ananas-800 duration-700 
        prose-img:rounded-xl prose-h1:underline text-white 
        font-medium text-lg;
    }
}