{% extends "base.html" %}

{% block head %}
{{ super() }}

<link rel="stylesheet" href="./output.css">

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


{% endblock %}


{% block body %}
<body class="mx-auto m-0">
    <nav class="flex justify-center items-center gap-20 p-10">
        <a class="font-bold" href="/">/home</a>
    </nav>
    
    <div id="blogs">
        <div class="grid grid-cols-3 mobile:grid-cols-1 justify-center items-center gap-5 mt-10 m-10">
            {% for post in blogs %}
                <a class="flex flex-col items-center" href="/blog/{{ post.slug }}">
                    <img class="rounded-3xl" src="{{ post.thumbnail }}" alt="{{ post.title }}">
                    <h3 class="text-lg font-bold">{{ post.title }}</h3>
                    <sub class="text-base text-gray-500">{{ post.date }}</sub>
                </a>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}