{% extends "base.html" %}

{% block head %}
{{ super() }}

<link rel="stylesheet" href="./output.css">

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


{% endblock %}


{% block body %}
<body class="mx-auto m-0">
    <nav class="flex justify-center items-center gap-20">
        <a class="text-slate-400" href="/">home</a>
    </nav>
    
    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
        <p class="font-bold text-5xl hover:text-red-600 duration-300">Coming Soon™</p>
    </div>
</body>
{% endblock %}