{% extends "base.html" %}

{% block head %}
{{ super() }}

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


{% endblock %}


{% block body %}
<body class="mx-auto m-0">
    <nav class="flex justify-center items-center gap-20 p-10">
        <a href="/">/home</a>
    </nav>

    <div class="grid grid-cols-2 mobile:grid-cols-1 tablet:grid-cols-1 justify-center items-center gap-10 m-10">
        {% for cloud in clouds %}
            <img class="rounded-lg mx-auto" src="{{ cloud.image }}"/>
        {% endfor %}
    </div>
</body>
{% endblock %}