{% extends "base.html" %} {% block head %} {{ super() }}

<link
    href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
    rel="stylesheet"
/>

{% endblock %} {% block body %}
<body class="mx-auto m-0">
    <nav class="flex justify-center items-center gap-20 p-10">
        <a class="font-bold" href="/">/home</a>
    </nav>

    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
        <img src="https://http.cat/{{ status }}.jpg" />
        <p
            class="font-bold text-5xl hover:text-red-600 duration-300 text-center pt-5"
        >
            {{ message }}
        </p>
    </div>
</body>
{% endblock %}
