{% extends "base.html" %}

{% block head %}
{{ super() }}

<link rel="stylesheet" href="./output.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

{% endblock %}


{% block body %}
<body>
    <nav class="flex justify-center items-center gap-20 p-10">
        <a class="font-bold" href="/projects">/projects</a>
        <a class="font-bold" href="/clouds">/clouds</a>
    </nav>

    <div class="grid items-center justify-center mt-4">
        <div class="text-center">
            <img src="./me.webp" class="mx-auto rounded-full" alt="profile picture" width="300">

            <div class="font-bold text-4xl pt-5 pb-3">
                Hey, I'm Ananas
            </div>

            <div class="flex justify-center items-center flex-row gap-3 pb-2 text-center"> 
                <a href="./github" aria-label="Link to my GitHub">
                    <i class='bx bxl-github bx-md'></i>
                </a>
        
                <a href="./codeberg" aria-label="Link to my Codeberg">
                    <i class='bx bx-code-alt bx-md'></i>
                </a>
    
                <a href="mailto:ananas@ananas.moe" aria-label="Link to mail me something">
                    <i class='bx bx-mail-send bx-md'></i>
                </a>
            </div>

            <div class="text-xl mobile:text-base tablet:text-lg max-w-[50rem] mx-auto">
                {{ about_me|safe }}
            </div>
        </div>
    </div>

    <div class="absolute bottom-0 right-0 p-2 text-zinc-800">
        you're cute :3
    </div>
</body>
{% endblock %}
