<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Ananas - Redirect</title>

        <meta content="{{ title }}" property="og:title">
        <meta content="{{ description }}" property="og:description">
        <meta content="{{ image_url }}" property='og:image'>

        <script>
            window.location.href = "{{ url|safe }}";
        </script>
    </head>

    <body>
        <noscript>
            It seems you have Javascript disabled: <a href="{{ url|safe }}">Click Here</a>
        </noscript>
    </body>

</html>